* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-darkblue: #183153;
  --color-darkgrey: #404041;
  --color-middlegrey: #949495;
  --color-2ndlightgrey: #e4e2e2;
  --color-lightgrey: #f9f9f9;
  --color-white: white;
  --color-anthracite: #42445a;
  --color-green: #89ffa6;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-lightgrey);
}

::-webkit-scrollbar-thumb {
  background: rgb(186, 186, 186);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(186, 186, 186);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

h1 {
  font-size: 7rem;
  color: var(--color-darkblue);
  line-height: 90px;
}

h3 {
  font-size: 3rem;
  color: var(--color-darkblue);
}

p {
  line-height: 30px;
  font-size: 1.8rem;
}

a {
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--color-middlegrey);
}

a:hover {
  color: var(--color-darkblue);
  transition: 500ms;
}

button {
  cursor: pointer;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: 2rem;
  font-weight: 600;
  background-color: #ffffff00;
  color: var(--color-darkgrey);
  padding: 1.6rem 5rem 1.6rem 5rem;
  border-radius: 12px;
  border: 1px solid var(--color-middlegrey);
}

button:hover {
  border: 1px solid var(--color-darkblue);
  color: var(--color-darkblue);
  transition: 500ms;
}

li {
  font-size: 1.6rem;
  list-style: none;
  color: var(--color-darkblue);
  font-weight: 500;
  margin-bottom: 0.5rem;
}
