//General styles for laptop design
.wcp-simulator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wcp-laptop-view-container {
  max-width: 120rem;
  margin: 0 1rem;
  border-radius: 12px;
  border: 6px solid #f1f1f1;
  cursor: pointer;
}

.browser-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 0.2rem;

  input {
    width: 90%;
    background-color: var(--color-white);
    margin-bottom: 0.2rem;
  }
}

.dot {
  height: 12px;
  margin: 0 0.1rem;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}

.universal-theme--container {
  position: relative;
  overflow-y: scroll;
  max-height: 73vh;
  background-color: #e3e3e3;
  padding: 1rem;

  a:hover {
    pointer-events: none;
  }
}

@media (max-width: 588.98px) {
  .wcp-laptop-view-container {
    display: none;
  }

  .laptop-view-btn {
    display: none;
  }

  .mobile-view-btn {
    display: none;
  }
}

//General styles for mobile design
.wcp-mobile-view-container {
  position: relative;
  width: 330px;
  height: 660px;
  border: 13px solid black;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

.wcp-mobile-view-container:after {
  content: '';
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-darkgrey);
  border-radius: 10px;
}

.wcp-mobile-view-container:before {
  content: '';
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background-color: var(--color-darkgrey);
  border-radius: 50%;
}

.wcp-mobile-content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.business-theme-mobile {
  padding: 1rem;
}

@media (max-width: 1366.98px) {
  .wcp-mobile-view-container {
    width: 280px;
    height: 550px;
  }
}

@media (max-width: 520.98px) {
  .wcp-mobile-view-container {
    margin-top: 1rem;
  }
}
